body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* 
---------------------------------------------------------------------------
                                TOP PANNEL
---------------------------------------------------------------------------
*/

.toppane {
    width: 95%;
    height: 7%;
    float: right;
    border-collapse: collapse;
    background-color: #FBFDFD;
    display: flex;
    justify-content: center;
}

.toppane mat-icon{
    font-size: 36px;
    padding: 10px;
    color: #22B07E;
    transition: 0.3s;
}

.toppane mat-icon:hover{
    cursor: pointer;
}

/* 
---------------------------------------------------------------------------
                                LEFT PANNEL
---------------------------------------------------------------------------
*/

.leftpane {
    width: 5%;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    box-sizing: border-box;
    float: left;
    background-color: #22B07E;
    border-collapse: collapse;
    color: #fffffe;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.leftpane button {
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 50%;
    display: flex;
    transition: 0.3s;
}

.leftpane button:last-child{
    margin-top: auto; 
}

.leftpane mat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 36px;
}

.leftpane button:hover{
    background: rgba(234,249,241, 0.3);
    transition: transform 5s ease-out;
}

.leftpane mat-icon:hover{
    transform: scale(1.2);
    /* transition: 0.3s, 0.3s ease-in-out; */
}

/* 
---------------------------------------------------------------------------
                                MIDDLE PANNEL
---------------------------------------------------------------------------
*/

.middlepane {
    width: 95%;
    height: 86%;
    float: left;
    background-color: #FBFDFD;
    border-collapse: collapse;
}


.btn-add{
    position: absolute;
    right: 2%;
    bottom: 11%;
    padding: 12px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(313deg, rgba(152,229,187,1) 0%, rgba(34,176,126,1) 45%);
    box-shadow: 0px 15px 13px 6px rgba(25, 148, 97, 0.5);
}

.btn-add mat-icon{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 36px;
}

/* TODO: add styeles to table and use ngClass to switch between done and in procces tasks */


/* 
---------------------------------------------------------------------------
                                BOTTOM PANNEL
---------------------------------------------------------------------------
*/


.bottompane{
    width: 95%;
    height: 7%;
    float: right;
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    background-color: #FBFDFD;
}

.bottompane input{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    border-top: 2px solid #22B07E;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    color: #4A4C4C;
}

.bottompane input::placeholder{
    color: #22B07E;
    opacity: 0.5;
}

# Modified 2025-08-11 10:24:35