<div class="container">

  <div class="toppane">
    <!-- TODO: Add logo and add styles to make it responsive-->
    <!-- <img src="src/assets/icons/to-do-list.png" alt="todo-list" class="img-icon"> -->
  </div>

  <!-- TODO: change icons to make it prttier  -->
  <div class="leftpane">

    <button mat-button class="home-screen-icon"> 	
      <mat-icon>dashboard</mat-icon> 
    </button>

    <button mat-button class="completed-icon"> 	
      <mat-icon>bookmark_border</mat-icon> 
    </button>

    <button mat-button class="trash-can-icon"> 	
      <mat-icon>delete_outline</mat-icon> 
    </button>

    <button mat-button class="send-icon"> 	
      <mat-icon>send</mat-icon> 
    </button>


  </div>

  <div class="middlepane">
    
  </div>


  <!-- <div class="rightpane">
    <h1>Test Page</h1>
  </div> -->

  <div class="downpane">
    
  </div>

</div>